<h1>Movie Lists</h1>
<div class="row">
  <%# <ul> %>
    <% @lists.each do |list| %>
      <%# <li> %>
      <div class="col-12 col-md-4 col-xl-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to list.name, list %></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
          </div>
        </div>
      </div>
      <%# </li> %>
    <% end %>
  <%# </ul> %>
</div>
