<h1>Movie Lists</h1>
<%= link_to "New!", new_list_path %>
<div class="row">
  <%# <ul> %>
    <% @lists.each do |list| %>
      <%# <li> %>
      <%# raise %>
      <div class="col-12 col-md-4 col-xl-3">
        <div class="card" style="width: 18rem;">

          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, class: "card-img-top" %>
          <% end %>


          <div class="card-body">
            <h5 class="card-title"><%= link_to list.name, list %></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
          </div>
        </div>
      </div>
      <%# </li> %>
    <% end %>
  <%# </ul> %>
</div>
